.catalog_page{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    text-decoration: non;
}

h1 {
    margin-left:  40px;
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: 700;
  font-size: 40px;
  color: black;
}

.div a {
  text-decoration: none; 
}

