.catalog img{
    height: 250px;
    width: 250px;
    object-fit: contain;
}
.catalog{
   display: flex;
flex-direction: row;
   justify-content: center;
   height: 300px;
   width: 350px;
   text-decoration:none;
}

.catalog_card p {
   text-decoration:none;
   font-family: Montserrat;
   font-weight: 600;
   font-size: 18px;
   padding-left: 75px;
   color: black;
   text-decoration:none;
}
.catalog a {
   text-decoration: none;
}

